@media (max-width:768px) {
    .nav-search{
        display: none;
    }
    #phon-search {
        display:inline-block;
    }
    .menu a{
        font-size: 20px;
        color: black;
        margin-right:20px;
    }
}

@media (max-width:892px) {
    .video-item{
        width: calc(50% - 20px);
        padding: 10px ;
        margin: 10px;
        color: black;
    }
}

@media (max-width:688px) {
    .video-item{
        width: calc(100% - 20px);
        padding: 10px ;
        margin: 10px;
        color: black;
    }
}